@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
}

.navbar-default,
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
  background-color: #52b6f2;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #52b6f2;
  color: #fff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.dropdown-menu>li>a {
  color: #3097D1;
}

.dropdown-menu>li>a:hover {
  color: #216a94;
}

/* Sidebar */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Content */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
  }
}
.main .page-header {
  margin-top: 0;

}

.page-header > a,
.page-header > a:hover,
.page-header > a:focus,
.page-header > a:visited {
  text-decoration: none;
}

.footer {
  background-color: #7bd2ff;
  border: 1px solid #d3e0e9;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1030;
}

.container-fluid .text-muted {
  margin: 12px 0;
  color: #443a3a;
}

.fa-calendar:before {
  color: #fff;
}